.header {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #F0F0F0;
    background-color: #d46f44;
    padding: 0;
    margin: 0;
    line-height: 0.1;
}

.header_text {
    flex-grow: 1;
    text-align: center;
}

.body {
    color: #F0F0F0;
    background-image: url("sauna3.jpg");
    margin: 0;
    padding: 0;
}

.theme_button {
    margin-top: 50px;
    text-align: center;
}

.fb_button {
    height: 45px;
}

.ig_button {
    height: 45px;
}

.logo {
    height: 100%;
    margin-right: auto;
    margin-left: 20px;
}

.step_1 {
    position: absolute;
    font-weight: bold;
    top: 10%;
    left: 10%;
}

.step_2 {
    position: absolute;
    font-weight: bold;
    top: 25%;
    right: 15%;
}

.step_3 {
    font-weight: bold;
    position: absolute;
    bottom: 30%;
    left: 20%
}

.step_4 {
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    right: 5%;
}

