.header {
    position: relative; /* Pozycja względna, aby inne elementy były poprawnie wyświetlane */
    width: 100vw; /* Szerokość 100% okna przeglądarki (viewport width) */
    height: 200px; /* Wysokość headera */
    background-color: #4267B2; /* Możesz ustawić dowolny kolor tła lub obraz */
    color: white; /* Kolor tekstu */
    display: flex;
    justify-content: center; /* Wyrównanie poziome (horyzontalne) */
    align-items: center; /* Wyrównanie pionowe (wertykalne) */
    text-align: center; /* Wyrównanie tekstu do środka */
}

.body {
    color: #F0F0F0;
    background-image: url("sauna3.jpg");
}

.page2_button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #AA8778;
    color: #211D21;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    border: solid 1px #F0F0F0;
    transition: color 0.35s ease;
}

.page2_button:hover {
    color: #F0F0F0;
    border: none;
}

.dot_1 {
    position: absolute;
    top: 50%;
    left: 50%;
}

